<% provide(:title,'Про нас') %>
<h1>Про нас</h1>
<div style="dysplay:block; width:600px; margin: 0 auto;">
<p>Система управління проектами є новітньою та створена для
невеличких веб студій або фірм які потребують проектний менеджмент
на найпростішому рівні для швидкого досягнення проектних цілей.
Для тих кому більш важливий готовий продукт ніж ціла купа специфікацій
та документування кожної дії того, що відбувається при розробці.</p>
</div>
<br>
