<% provide(:title,'Про нас') %>
<h1>About Us</h1>
<p>Тут знаходитиметься інформація про нас</p>
<p>Тимчасова навігація</p>
<ul>
  <li><a href="/static_pages/home">Головна</a></li>
  <li><a href="/static_pages/help">Допомога</a></li>
  <li><a href="/static_pages/about">Про нас</a></li>
</ul>
