<% provide(:title, 'Допомога')%>
<p>All FAQ what you need </p>
<p>Тимчасова навігація</p>
<ul>
  <li><a href="/static_pages/home">Головна</a></li>
  <li><a href="/static_pages/help">Допомога</a></li>
  <li><a href="/static_pages/about">Про нас</a></li>
</ul>
