<% provide(:title, 'Допомога')%>
<center>
  <p>Переглянь відео інструкцію щоб зрозуміти як працює система.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HіQjFHxktylM" frameborder="0" allowfullscreen></iframe>
</center>
<br>
