<div class="conteiner" style="margin: 0 auto;">

<div class="header" style="width:100%; height:300px; background-color:yellow;">
    <h1>Webonix</h1>
    <p>Тут буде знаходитись інформація вміст головної сторінки</p>
</div>
<div class="body" style="width:100%; height:50px; background-color:red; text-align:center;">Menu</div>
<div class="body1" style="width:50px; height:50px; margin-left: 25%; background-color:brown; float:left; ">1</div>
<div class="body2" style="width:50px; height:50px;  margin-left: 20%; background-color:brown;float:left;">2</div>
<div class="body3" style="width:50px; height:50px;   margin-left: 20%; background-color:brown; float:left">3</div>
<div class="block2" style="clear:both; width:100%; height:300px; background-color:green;">Who we  are</div>
<div class="block3" style="width:100%; height:100px; background-color:blue;">Nav menu site order</div>
<div class="footer" style="width:100%; height:200px; background-color:purple;">Footer</div>

</div>
