<div class="center hero_unit">
  <h1>Раді вітати вас у системі управління веб-проектами</h1>
  <h1>Webonix app</h1>

  <h2>Це головна сторінка.</h2>
  <h2>Тут ви можете дізнатись усю необхідну інформацію про систему, та увійти у свій профіль</h2>

  <%= link_to "Зареєструватись у системі зараз!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<br>
<br>
