/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *
     {
     margin: 0;
     padding: 0;
     border: 0;
 }

 body
     {
     font: 83.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
     background: url(/images/wallpaper.png) repeat;
     color: #000000;
     text-align:center;
 }

 h1
    {
    font-size: 2.2em;
}

h2
    {
    font-size: 2.0em;
}

h3
    {
    font-size: 1.8em;
}

h4
    {
    font-size: 1.6em;
}

h5
    {
    font-size: 1.4em;
}

p
    {
    font-size: 1.2em;
}

/* Header

/* Footer

/* Your template

input.text
  {
  padding: 3px;
  border: 1px solid #999999;
}

/* Tables
-----------------------------------------------------------------------------*/

table
  {
  border-spacing: 0;
  border-collapse: collapse;
}

td
  {
  text-align: left;
  font-weight: normal;
}
