<footer class="footer">
  <small>
    Serhii Onishchuk<a> CAD 2017</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Про нас",  about_path %></li>
      <li><%= link_to "Контакти", contact_path %></li>
    </ul>
  </nav>
</footer>
